<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>miniproject1</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="w-full min-h-screen bg-zinc-900">
        <h3 class="text-3xl font-bold text-white mb-5">Create Account</h3>
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="Enter your username" class="border border-gray-300 rounded-md p-2 mb-4 bg-transparent text-white">
            <input type="text" name="name" placeholder="Enter your name" class="border border-gray-300 rounded-md p-2 mb-4 bg-transparent text-white">
            <input type="number" name="age" placeholder="Enter your age" class="border border-gray-300 rounded-md p-2 mb-4 bg-transparent text-white">
            <input type="email" name="email" placeholder="Enter your email" class="border border-gray-300 rounded-md p-2 mb-4 bg-transparent text-white">
            <input type="password" name="password" placeholder="Enter your password" class="border border-gray-300 rounded-md p-2 mb-4 bg-transparent text-white">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Submit</button>
        </form>

        <div class="mt-4">
            <p class="text-white">Already have an account? <a href="/login" class="text-blue-500 hover:underline">Login here</a></p>
        </div>
    </div>
    
</body>
</html>