<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>miniproject1</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="w-full min-h-screen bg-zinc-900">
        <h3 class="text-3xl font-bold text-white mb-5">profile</h3>
        <p class="text-white">Username: <%= user.username %></p>
        <p class="text-white">Name: <%= user.name %></p>
        <p class="text-white">Age: <%= user.age %></p>
        <p class="text-white">Email: <%= user.email %></p>



    </div>

</body>
</html>